* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.country-list {
  list-style: none;
  padding: 0;
}

.country-item {
  display: flex;
  justify-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.country-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-card_header-wrapper {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
